################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Killer_app/.vs/Killer_app/v14/.suo
